{% extends 'base.html' %}
{% block title%}  Sign UP   {% endblock title%}
{% block extra_head %}
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
{% endblock %}


{%block body%}

<body style="background-color:#252525">
  <div class="login-box">
      <h2>NEW SIGN UP</h2>
      <form method = "POST" action="/signup"> 
        {% csrf_token %}
          <div class="user-box">
              <input type="text" name="uname" required="">
              <label>Username</label>
          </div>
          <div class="user-box">
            <input type="email" name="email" required="">
            <label>Email</label>
        </div> 
          <div class="user-box">
              <input type="password" name="password" required="">
              <label>Password</label>
          </div>

     
          <a id="alpha"  href="">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <input style="color:red;background:black; padding:5px" type="submit" >
          </a>
       
      </form>
  </div>
</body>
{%endblock body%}


